<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD8sC5vHmRX8u3eHXd6aF9XyZ48k32XfFg</string>
	<key>GCM_SENDER_ID</key>
	<string>706863162875</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.quizzity.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>quizzity-c05ee</string>
	<key>STORAGE_BUCKET</key>
	<string>quizzity-c05ee.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:706863162875:ios:b04f424ae88da258b7575e</string>
</dict>
</plist>